header {
    background-color: #28a745;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
